<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivan.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nadzor Sluzbenih Putovanja"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAPswI7vXdRRCkRCacTXLSugXi6QJa-NNE"/>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPage"
            android:label=".RegisterPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserChoice"
            android:label="Nadzor Sluzbenih Putovanja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutThisApp"
            android:label="@string/title_activity_about_this_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoviZahtjevi"
            android:label="@string/title_activity_novi_zahtjevi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PregledZahtjeva"
            android:label="@string/title_activity_pregled_zahtjeva"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pracenje"
            android:label="@string/title_activity_pracenje"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Mapa"
            android:label=".Mapa"
            android:theme="@style/AppTheme.NoActionBar" />
        <receiver android:name=".Mapa$ReciveKoord" >
        </receiver>
        <service android:enabled="true" android:name=".Prati" />
    </application>


</manifest>
